<div id="add-comment">
  <% bookmark = @bookmarks.select { |b| b.id == @bookmark_id } %>
  <form action="/bookmarks/<%= bookmark.first.id %>/comment" method="post">
    <textarea id="comment" name="comment" alt="Text box for writing a comment on a bookmark"/>Enter a comment...</textarea>
    <input id="submit-comment" type="submit" name="submit-comment"
    value="Submit Comment" alt="Button to submit a comment for a bookmark"/>
  </form>
</div>
