<div id="add-comment">
  <% bookmark = @bookmarks.select { |b| b.id == @bookmark_id } %>
  <form action="/bookmarks/<%= bookmark.first.id %>" method="post">
    <input id="comment" type="text-area" name="comment" placeholder="Write comment..."
    alt="Text box for writing a comment on a bookmark"/>
    <input id="submit-comment" type="submit" name="submit-comment"
    value="Submit Comment" alt="Button to submit a comment for a bookmark"/>
  </form>
</div>
