<div id="adding-bookmarks">
  <form action="/bookmarks" method="post">
    <input id="enter-url" type="text" name="url" placeholder="Enter URL"
    alt="Text box to type a URL in"/>
    <input id="add-bookmark" type="submit" name="add-bookmark"
    value="Add Bookmark" alt="Button to submit a new bookmark"/>
  </form>
</div>
<br/>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
