<h2>
  <%= flash[:log_out_successful] %>
</h2>
<form action="/users/new" method="get">
    <input id="sign-up" type="submit" name="sign-up"
    value="Sign Up" alt="Button to take a new user through to a registration page"/>
</form>
<form action="/sessions/new" method="get">
    <input id="sign-in" type="submit" name="sign-in"
    value="Sign In" alt="Button to take an existing user through to a sign in page"/>
</form>
