<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarker</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/bookmarks.css">
    <header>
      <h1 id="brand-header">Bookmarker</h1>
    </header>
  <head>
  <body>
    <%= yield %>
  </body>
</html>
