<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarker</title>
    <link rel="stylesheet" href="stylesheets/layout.css">
    <header>
      <h1 id="brand-header">Bookmarker</h1>
    </header>
  <head>
  <body>
    <%= yield %>
  </body>
</html>
