<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarker</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/bookmarks.css">
    <link rel="stylesheet" href="/stylesheets/comments_and_tags.css">
    <header>
      <h1 id="brand-header">Bookmarker</h1>
    </header>
    <% if @user %>
    <form action="/sessions/delete" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        <input id="sign-out" type="submit" name="sign-out"
        value="Sign out" alt="Button to sign out a logged in user"/>
    </form>
  <% end %>
  <head>
  <body>
    <%= yield %>
  </body>
</html>
