<form action="/users" method="post">
    <input id="enter-username" type="email" name="username" placeholder="Enter a valid email address"
    alt="Text box to type a username in"/>
    <input id="enter-password" type="password" name="password" placeholder="Enter password"
    alt="Text box to type a password in"/>
    <input id="create-user" type="submit" name="create-user"
    value="Submit" alt="Button to submit new user registration"/>
</form>
