<form action="/users" method="post">
  <fieldset>
    <legend>SIGN UP</legend>
      <input id="enter-username" type="email" name="username" placeholder="Enter a valid email address"
                                                                     alt="Text box to type a username in"/><br>
      <input id="enter-password" type="password" name="password" placeholder="Enter password"
                                                                           alt="Text box to type a password in"/><br>
      <input id="create-user" type="submit" name="create-user"
      value="Submit" alt="Button to submit new user registration"/>
  </fieldset>
</form>
