<ul>
  <% if @comments.empty? %>
    <p>This bookmark has not had any comments yet.</p>
  <% else %>
    <% @comments.each do |c| %>
      <li><%= c.text %></li>
    <% end %>
  <% end %>
</ul>
  <form action="/bookmarks" method="get">
    <input id="view-bookmarks" type="submit" name="view-bookmarks"
    value="View Bookmarks" alt="Button to return to the bookmarks page."/>
  </form>
