<ul>
  <% if @comments.empty? %>
    <p>This bookmark has not had any comments yet.</p>
  <% else %>
    <% @comments.each do |c| %>
      <li><%= c.text %></li>
    <% end %>
  <% end %>
</ul>
  <form action="/bookmarks" method="get">
    <input id="homepage" type="submit" name="homepage"
    value="Back to Homepage" alt="Button to return to the bookmarks page."/>
  </form>
