<ul>
  <li><%= @tag %></li>
</ul>
  <form action="/bookmarks" method="get">
    <input id="view-bookmarks" type="submit" name="view-bookmarks"
    value="View Bookmarks" alt="Button to return to the bookmarks page."/>
  </form>
