<ul>
  <% if @tags.empty? %>
    <p>No tags have been added to this bookmark yet.</p>
  <% else %>
    <% @tags.each do |t| %>
      <li><%= t.content %></li>
    <% end %>
  <% end %>
</ul>
  <form action="/bookmarks" method="get">
    <input id="view-bookmarks" type="submit" name="view-bookmarks"
    value="View Bookmarks" alt="Button to return to the bookmarks page."/>
  </form>
