#adding-bookmarks, #editing-bookmarks {
  background-color: #85C1E9;
  padding: 20px 40px;
}

#enter-url, #enter-title, #edit-url, #edit-title {
  font-size: 15px;
  width: 50%;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px 0;
}

#add-bookmark, #update-bookmark {
  border-radius: 8px;
  border-color: #138D75;
  background-color: #3498DB;
  color: #F7F9F9;
}

#bookmark-table {
  font-size: 20px;
  margin: 8px 0;
  padding-left: 40px;
}

#bookmark-table-data {
  padding: 5px 0;
}
