h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Georgia, Courier, serif;
}

body {
  margin: 0;
}

#brand-header {
  text-align: left;
  font-size: 75px;
  background-color: #3498DB;
  margin: 0;
  color: #F7F9F9;
  padding-left: 40px;
}

#adding-bookmarks {
  background-color: #85C1E9;
  padding: 20px 40px;
}

#enter-url {
  font-size: 15px;
  width: 50%;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px 0;
}

#add-bookmark {
  border-radius: 8px;
  border-color: #138D75;
  background-color: #138D75;
  color: #F7F9F9;
}
